<form id="new-trip" class="new-trip" action="/trips" method="post">
  <label>Trip Location</label>
  <input type="text" name="location" placeholder="location">
  <input type="submit" value="Add This Trip">
</form>
