/* -----RESPONSIVE DESIGN IN CSS-----

FIXED design = layout is fixed at specific pixel widths.

FLUID design = layout is set using relative widths (percentages).

ADAPTIVE design = layout is either fixed or fluid, but can adapt to different screen 
sizes with media queries.

RESPONSIVE design = layout is fluid (the whole grid is fluid), and can adapt to 
different screen sizes with media queries.*/


/* BAD: Design is fixed and does not adjust dynamically to viewport size: */

body {
  width: 800px;
  padding: 5px;
  font-size: 16px;
}

/* GOOD: Design is fluid and adjusts dynamically to viewport size: */

body {
  width: 60%;
  padding: 1.5%;
  font-size: 1em;
}


/* MEDIA QUERIES allow your CSS to change dynamically based on viewport size: */

/* In your HTML: */

<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">

/* In your CSS: */

@media screen and (max-width: 480px) {

body {
  width: 90%;
}

}